<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ prof }}</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        h1, h2, h4 {
            margin: 20px 0;
        }
        img {
            display: block;
            margin: 20px auto;
            max-width: 80%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Миссия Колонизация Марса</h1>
    <h4>И на Марсе будут яблони цвести!</h4>
    <h2>{{ title }}</h2>
    <img src="{{ url_for('static', filename='img/' + image_file) }}"
         alt="здесь должна была быть картинка, но не нашлась">
</body>
</html>