{% extends "index.html" %}

{% block content %}
<h1>Добавление работы</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.job.label }}
        {{ form.job(class="form-control") }}
        {% for error in form.job.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.team_leader.label }}
        {{ form.team_leader(class="form-control", type="number") }}
        {% for error in form.team_leader.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.work_size.label }}
        {{ form.work_size(class="form-control", type="number") }}
        {% for error in form.work_size.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.collaborators.label }}
        {{ form.collaborators(class="form-control") }}
        {% for error in form.collaborators.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.start_date.label }}
        {{ form.start_date(class="form-control", type="datetime-local") }}
        {% for error in form.start_date.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.end_date.label }}
        {{ form.end_date(class="form-control", type="datetime-local") }}
        {% for error in form.end_date.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="form-check">
        {{ form.is_finished(class="form-check-input") }}
        {{ form.is_finished.label(class="form-check-label") }}
    </div>

    <br>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}