{% extends "index.html" %}

{% block content %}
<h2>Works log</h2>
{% for job in jobs %}
<h3 style="text-align: left;">Action # {{ loop.index }}</h3>
<table>
    <tr>
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>Is finished</th>
    </tr>
    <tr>
        <td>{{ job.job }}</td>
        <td>{{ job.team_leader }}</td>
        <td>{{ job.work_size }} hours</td>
        <td>{{ job.collaborators }}</td>
        <td>{{ "Is finished" if job.is_finished else "Is not finished" }}</td>
    </tr>
</table>
<br>
{% endfor %}
{% endblock %}